.accordion{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0px auto;
    padding: 0px 20px;

    &__header{
        display: flex;
        align-items: center;
    }

    &__icon{
        padding-right: 15px;
        margin-top: 5px;
        float: left;
        cursor: pointer;
    }

    &__title{

    }

    &__body{
        display: none;
        padding: 20px;
        border: 1px solid #eeeeee;
        text-align: left;
    }

    &__content{

    }
}

.bg-white{
    background-color: #fff;
}
.shadow{
    box-shadow: 0px 2px 2px 0px rgba($color: #000000, $alpha: 0.2);
    -webkit-box-shadow: 0px 0px 5px 3px rgba($color: #999999, $alpha: 0.2);
}

.disabled {
    background: #dedede;
    div {
        color: #999999;
    }
}